<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="hackveda.devanshu.fooddelivery">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
	
		<activity
			android:label=""
			android:name=".activity.AActivity"
			android:theme="@style/AActivityTheme">
		
			<intent-filter>
			
				<category android:name="android.intent.category.LAUNCHER"/>
			
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
	
		<activity
			android:label=""
			android:name=".activity.BActivity"
			android:theme="@style/BActivityTheme"/>
	
		<activity
			android:label=""
			android:name=".activity.CActivity"
			android:theme="@style/CActivityTheme"/>
	</application>
</manifest>